{% load bootstrap4 %}
<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'profile'%}">Profile</a>
            <a class="dropdown-item" href="{% url 'homepage' %}">Posts</a>
           
          </div>
        </li>

        <ul>
          <li>
           
            <a href="{%url 'new_post'%}">Create Project</a>
          </li>
        </ul>
      </ul>
{% if user.is_authenticated %}

{% else %}
  <li style="list-style: none;">
    <a class='btn btn-default' href="/accounts/login">Login</a>
  </li>

{% endif %}
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="article" placeholder="Search" aria-label="Search">

      </form>
      <li style="list-style: none;">
        <a href="/accounts/logout">LOGOUT</a>
      </li>
    </div>
  </nav>
</div>
